<ion-view title="דווח על מפגע">

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content ng-controller="AccidentController">
  <!--
   <img src="img/s3.jpg" style="width:100%;" />
  -->
   <form name="accidentForm" ng-submit="saveAccident()" role="accidentForm" novalidate>
   
   <div class="list">
     <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999"><span style="color:red;">*</span> שם הפונה:</span>
    <input type="text" name="accidentFields.name" id="accidentFields.name" ng-model="accidentFields.name" style="direction:rtl;" required>
	<span ng-show="accidentForm.accidentFields.name.$dirty && accidentForm.accidentFields.name.$error.required" class="help-block">שדה חובה</span>
  </label>
  
    <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999"><span style="color:red;">*</span> פלאפון:</span>
    <input type="number" name="accidentFields.phone" id="accidentFields.phone" ng-model="accidentFields.phone" style="direction:rtl;" required>
	<span ng-show="accidentForm.accidentFields.phone.$dirty && accidentForm.accidentFields.phone.$error.required" class="help-block">שדה חובה</span>
  </label>
  
    <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999"><span style="color:red;">*</span> מחלקה:</span>
    <input type="text" name="accidentFields.devision" id="accidentFields.devision" ng-model="accidentFields.devision" style="direction:rtl;" required>
	<span ng-show="accidentForm.accidentFields.devision.$dirty && accidentForm.accidentFields.devision.$error.required" class="help-block">שדה חובה</span>
  </label>
  
    <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999"> חדר (מספר על הדלת):</span>
    <input type="number" name="accidentFields.room" id="accidentFields.room" ng-model="accidentFields.room" style="direction:rtl;" >
	<!--
	<span ng-show="accidentForm.accidentFields.room.$dirty && accidentForm.accidentFields.room.$error.required" class="help-block">שדה חובה</span>
	-->
  </label>
  
      <label class="item item-input item-select">
    <div class="input-label">
      תחום
    </div>
    <select  ng-model="accidentFields.areasSelect">
      <option selected>משק (ניקיון)</option>
      <option>חצר</option>
      <option>הנדסה רפואית</option>
      <option>נגר</option>
      <option>מסגר</option>
      <option>מים</option>
      <option>מיזוג אוויר</option>
      <option>דודים</option>
      <option>חשמל</option>
      <option>גזים רפואיים</option>
      <option>בניין</option>
      <option>תבוראן</option>
      <option>בטיחות</option>
    </select>
  </label>
  
  
    <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999"> מספר אינוונטר:</span>
    <input type="number" name="accidentFields.inventer" id="accidentFields.inventer" ng-model="accidentFields.inventer" style="direction:rtl;" >
	<!--
	<span ng-show="accidentForm.accidentFields.inventer.$dirty && accidentForm.accidentFields.inventer.$error.required" class="help-block">שדה חובה</span>
	-->
  </label>
  

   <label class="item item-input item-stacked-label" style="direction:rtl; text-align:right; padding-right:10px;">
    <span class="input-label" style="color:#999"><span style="color:red;">*</span> תיאור העבודה הנדרשת:</span>
   <textarea  style="direction:rtl;" placeholder="" ng-model="accidentFields.desc" name="accidentFields.desc" id="accidentFields.desc" required></textarea>
	<span ng-show="accidentForm.accidentFields.desc.$dirty && accidentForm.accidentFields.desc.$error.required" class="help-block">שדה חובה</span>
  </label>
  
  
  <label class="item item-input" ng-click="CameraOption()" style="padding-right:20px; direction:rtl; width:100%;" align="center">
	 	<img  ng-show="imgURI !== undefined" ng-src="{{imgURI}}" align="center" width="80" height="80">
        <img  ng-show="imgURI === undefined" ng-src="{{uploadedimage}}" align="center" width="80" height="80">
  </label>
  
</div>

	<div class="padding">
				<div  align="center" style="direction:rtl;" ng-show="showsubmit">
				<p>התמונה בהעלאה אנא המתן...</p>
				 </div>
				  <input type="submit"   ng-disabled="accidentForm.$invalid || showsubmit" class="button button-block button-positive" value="שליחה">
	</div>
	  
	 </form>
  </ion-content>
</ion-view>
