<ion-view title="הוספת מוצר">

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content ng-controller="AddTradeController">
   <img src="img/s2.jpg" style="width:100%;" />
   <form name="AddProductForm" ng-submit="saveProduct()" role="AddProductForm" novalidate>
   
   <div class="list">
  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">שם מוצר</span>
    <input type="text" name="title" id="title" ng-model="title" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.title.$error.required" class="help-block">שדה חובה</span>
  </label>
  
  <label class="item item-input" style="direction:rtl;">
        <span class="input-label" style="color:#999">מחיר</span>
        <input type="tel" name="title" id="price" ng-model="price" style="direction:rtl;" required>
        <span ng-show="AddProductForm.price.$dirty && AddProductForm.price.$error.required" class="help-block">שדה חובה</span>
  </label>
  
  <label class="item item-input" style="direction:rtl;">
   	<span class="input-label" style="color:#999">טלפון ליצירת קשר</span>
    <input type="tel" name="phone" id="phone" ng-model="phone" style="direction:rtl;" required>
	<span ng-show="AddProductForm.phone.$dirty && AddProductForm.phone.$error.required" class="help-block">שדה חובה</span>
  </label>
  
 
  <label class="item item-input item-stacked-label" style="direction:rtl; text-align:right; padding-right:10px;">
    <span class="input-label" style="color:#999">תיאור המוצר</span>
    
    <textarea   style="direction:rtl; width:100%" ng-model="desc" name="desc" id="desc" required></textarea>
	<span ng-show="AddProductForm.desc.$dirty && AddProductForm.desc.$error.required" class="help-block">שדה חובה</span>
  </label>
  
   
  
    <!-- <label class="item item-input" style="padding-right:20px; direction:rtl; width:100%;" align="center">
	<input type="file"  name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this)" style="display:none;">
	<img ng-src="{{uploadedimage}}"  align="center" width="80" height="80" >
  </label> -->
  
   <label ng-click="CameraOption()" class="item item-input" style="padding-right:20px; direction:rtl; width:100%;" align="center">
        <img  ng-show="imgURI !== undefined" ng-src="{{imgURI}}" align="center" width="80" height="80">
        <img  ng-show="imgURI === undefined" ng-src="{{uploadedimage}}" align="center" width="80" height="80">
  </label>
  

</div>

	<div class="padding">
		<div  align="center" style="direction:rtl;" ng-show="showsubmit">
			<p>התמונה בהעלאה אנא המתן...</p>
		</div>
				  <input type="submit"  ng-show="!showsubmit" ng-disabled="AddProductForm.$invalid" class="button button-block button-balanced" value="שליחה">
	</div>
	  
	 </form>
     
  </ion-content>
</ion-view>
