<div class="bar bar-subheader" style="background-color:#2a2a2a; height:34px;">
  	<div style="font-size:18px; margin-top:2px; text-align:center; color:white">{{articlecatagory}}</div>
</div>

<!--
overflow-scroll="false"
-->

<ion-view title="{{title}}"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content class="has-subheader" style="top:75px;" >
<ion-list>

	<div>
       <div class="storyPic"><img alt="" src="{{imageurl}}/{{articleimage}}" imageonload  width="100%"/></div>
       <div class="articleTitle" style="direction:rtl;">{{articletitle}}</div>
       <div class="txt" style="direction:rtl;" imageonload ng-bind-html="articletext | toTrusted" ></div>
    </div>
           
  </ion-item>

	
            
 </ion-content>
</ion-view>