<div class="bar bar-subheader" style="background-color:#2a2a2a;" >
  	<div class="list">

  <div class="item-input-inset" style="margin-top:-1px;">
    <label class="item-input-wrapper" style="text-align:right; direction:rtl">
      <input type="text" ng-model="contactInput" ng-keydown="BlurContacts()" style="text-align:right; direction:rtl" placeholder="חפש איש קשר">
    </label>
    <button class="button button-small">
      חפש
    </button>
  </div>

</div>
</div>
      
<ion-view title="טלפונים שימושיים" >

<ion-nav-buttons side="right">
</ion-nav-buttons>

  <ion-content  class="has-subheader">
 	

    <article style="overflow:hidden">
       
       
       <div ng-repeat="row in contacts | filter: byContactLogin():true | filter:contactInput">
       		<div  class="articlesContacts"  ng-style="$index==0 ? {'border-top':'none'}:{'border-top':'solid #2f2f2f'}">
               <div class="contactMainDiv">
                    <div class="coBlue"  ng-style="$index%2==0 ? {'background-color':'#377fba'}:{'background-color':'#00ac36'}">
                    </div>
                    <div class="coInfo">
                        <div style="font-size:17px; font-weight:bold">{{row.title}}</div>
                        <div style="font-size:15px; ">{{row.subtitle}}</div>
                    </div>
                    <div class="coIcon" align="center">
					<div ng-click="DialPhone(row.phone)">
                        <div style="width:70%; padding-top:10px;">
                             <img src="img/phone.png" style="width:100%" />
                        </div>
						</div>
                    </div>
                </div>
            </div>
       </div>
       
	
  
    </article>
        
 </ion-content>
</ion-view>