<ion-view title="סורקה עובדים" hide-back-button="true" hide-nav-bar="true">
  <ion-content scroll="true" style="margin-bottom:-7px;">
		<!--
		ng-click="openMenu()"
		-->
  		<div style="" >
        	<img src="img/new/employee/head.png" style="width:100%" />
        </div>
        
        
        <div>
            <img src="img/new/employee/phone.png" ng-click='navigateUrl("#/app/contacts","")' style="width:100%; margin-top:-7px" />
			
            <img src="img/new/employee/img1.jpg" ng-click='NavigateCatPage("#/app/categories",0)' style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/resources.png" ng-click='NavigateCatPage("#/app/categories",0)' style="width:100%; margin-top:-7px" />

            <img src="img/new/employee/new/nehalim.jpg" ng-click='NavigateCatPage("#/app/categories",2)' style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/new/nehalim-button.png" ng-click='NavigateCatPage("#/app/categories",2)' style="width:100%; margin-top:-7px" />

						
            <!--
            <img src="img/new/employee/new/mardimim.jpg" ng-click='NavigateCatPage("#/app/categories",1)' style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/new/mardimim-button.png" ng-click='NavigateCatPage("#/app/categories",1)' style="width:100%; margin-top:-7px" />-->




            <img src="img/new/employee/img3.png"  ng-click='NavigateCatPage("#/app/categories",1) 'style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/b1.png"   ng-click='NavigateCatPage("#/app/categories",1)' style="width:100%; margin-top:-7px" />

            <img src="img/new/employee/img4.png"   style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/b2.png"   style="width:100%; margin-top:-7px" />

            
			<!--
			<img src="img/new/employee/img2.jpg" ng-click='navigateUrl("#/app/employeemonth","")'  style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/btn5.png" ng-click='navigateUrl("#/app/employeemonth","")' style="width:100%; margin-top:-7px" />
            -->
			<img src="img/new/employee/img3.jpg" ng-click='openSite("https://makeshet-doctors.azurewebsites.net/Account/Login_View")' style="width:100%; margin-top:-7px" />
            <img src="img/new/employee/btn3.png" ng-click='openSite("https://makeshet-doctors.azurewebsites.net/Account/Login_View")' style="width:100%; margin-top:-7px" />
			
        </div>
        <img src="img/new/employee/btn4.png" ng-click='navigateUrl("#/app/accident","")'  style="width:100%; margin-top:-7px; z-index:100; position:relative" />
        <div style="margin-top:-10px; z-index:-1; position:relative">
        	<table>
            	<tr>
				

					
                	<td ng-click='navigateUrl("#/app/trading","")'>
                    	<img src="img/new/employee/wf1.png" style="width:100%" />
                    </td>
                    <td ng-click='navigateUrl("#/app/rides","")'>
                        <img src="img/new/employee/wf3.png" style="width:100%" />
                    </td>

                    <td ng-click="openSite('http://haotzarsheli.mof.gov.il/Calculators/Pages/Pension-Report-Popup.aspx')">
                    	<img src="img/new/employee/wf2.png" style="width:100%" />
                    </td>

                </tr>
            </table>
        </div>
        <div ng-click="logout(0)">
            <img src="img/new/employee/app.png" style="width:100%; margin-top:-7px" />
        </div>
        

  </ion-content>
  

	
</ion-view>
