<!--
<div class="bar bar-subheader" style="background-color:#2a2a2a; height:34px;">
  	<div style="font-size:18px; margin-top:2px; text-align:center; color:white">{{articlecatagory}}</div>
</div>

-->

<ion-view title="לעובד החדש"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content overflow-scroll="false">

	<!--   <ion-scroll zooming="true"  min-zoom="1" direction="xy" style="width: 100%; height:100%; "> -->
	   <img alt="" src="{{imageurl}}/{{articleimage}}"  style="width:100%; "/>
	   <!--  </ion-scroll>-->
      
		<div class="articleTitle" style="direction:rtl;">{{articletitle}}</div>
       <div class="txt" style="direction:rtl;" ng-bind-html="articletext" ></div>
	

           

	
            
 </ion-content>
</ion-view>