<div class="bar bar-subheader" style="background-color:#2a2a2a;" >
  	<div class="list">

  <div class="item-input-inset" style="margin-top:-1px;">
    <label class="item-input-wrapper" style="text-align:right; direction:rtl">
      <input type="text" ng-model="gallerysearch" style="text-align:right; direction:rtl" placeholder="חפש תמונה">
    </label>
    <button class="button button-small">
      חפש
    </button>
  </div>

</div>
</div>


<ion-view title="גלריית תמונות" >

<ion-nav-buttons side="right">
</ion-nav-buttons>


<ion-content scroll="true" style="margin-top:60px;">
 
	<button class="button button-block button-positive" style="width:90%; margin-left:5%;" ui-sref="app.addgallery">
	 הוספת תמונה חדשה
	</button>	 
  
<section class="MainPage">
	
		
	<div ng-repeat="item in gallery | filter:gallerysearch" ng-if="item.approved == 1">
	<p align="center">{{item.title}}</p>
	<img src="{{imageurl}}/{{item.image}}" style="width:100%;">
	</div>


	  
</section> 


</ion-content>
  
</ion-view>
