<section class="ListPage">
		<div class="Header" ng-if="Category != 4">
                    <table class="HeadTable">
                          <tr>
                               <td class="HeadTdLeft" onClick="navigate('#/Menu','')">
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight" onClick="AddContentToPopup(2)">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
                    <!--    Days ----------------------------------------------------------------------------------------->
                    <div ng-controller="Days" >
                        <table id="DaysTable">
                            <thead id="DaysThead"></thead>
                            <tbody id="tBody">
                                <tr id="DaysRow">
                                    <td ng-repeat="item in daysArray" class="dayThumb"> 
                                        <div align="center">
                                            <span class="spDays'+i+'">
                                                {{item.day}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id=""  style=" width:100%; position:relative;  background-image:url(img/menu/pubsline.jpg); background-repeat:repeat"  align="center">
                  			 <p id="DayText" style="color:white; width:100%;  text-align:center; margin:0; padding:1% 0 1% 0%">יום א &nbsp; 24.1.14</p>
              			</div>
                    </div>
                    
                    
       </div>        
         
         <div class="Header" ng-if="Category == 4">
                    <table class="HeadTable">
                          <tr>
                               <td class="HeadTdLeft" onClick="navigate('#/Menu','')">
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight" onClick="AddContentToPopup(2)">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
       </div>        
       
            
      <div  ng-class="Category == 4 ? 'Content1' : 'Content2'"    id="ListDiv" style="position:relative;  height:4px; overflow:scroll; z-index:2"> 
                <div id="TableBtn" ng-if="Category != 4">
                    <table style="width:70%; margin-top:16%; padding-top:10px;" align="center">
                         <tr style="width:100%">
                             <td style="width:50%" ng-click="shuffle_table()">
                             	<img src="img/menu/popu.png"  style="width:100%;">
                             </td>
                             <td style="width:50%" ng-click="shuffle_table()">
                             	<img src="img/menu/len.png"  style="width:100%;">
                             </td>
                         </tr>
                    </table>
                 </div>      
                                
                 <!--    PUB LIST -------------------------------------------------------------------------------------------------->
                 
                 <div id="pubList" style="">
					<div id="repeatDiv" style="margin-left:0%;" ng-repeat="item in infoArray" my-repeat-directive >
                   
                                <div ng-click='navigateUrl(NextPage,infoArray.indexOf(item))'>
                                <!-- Banner Advertize ============================================================================= --> 
                                <div ng-if="infoArray.indexOf(item)%3 == 0 && infoArray.indexOf(item)!= 0">
                                    <div ng-if="infoArray.indexOf(item) == 3" style="margin-top:-1%;">
                                        <img src="img/banner/{{Rand1}}.jpg" style="width:100%; position:relative">
                                    </div>
                                    <div ng-if="infoArray.indexOf(item) == 6" style="margin-top:-1%;">
                                        <img src="img/banner/{{Rand2}}.jpg" style="width:100%; position:relative">
                                    </div>
                                    <div>
                                        <img src="img/menu/line.png" style="width:100%; margin-top:0px; position:relative">
                                    </div>
                                </div>
                                
                                <!-- Row ============================================================================= --> 
                                <div style="float:left; width:70%; margin-left:-7px; margin-top:3px;" align="right">
                                    <!-- Open/Close only in Restaurant ======================--> 
                                    <div ng-if="Category == 1 || Category == 6" style="position:absolute; left:8px; margin-top:15px; width:15%;">
                                        <img src="img/rest/open.png" style="width:100%; margin-top:0px; position:relative">
                                    </div>
                                    
                                    <div style="float:left; width:95%; margin-left:2%; margin-top:-2%; ">
                                        <h3 style="color:white;">{{item.name}}</h4>
                                        <h4 ng-if="Category != 4" style="color:white;  margin-top:-6%;">{{item.address}}</h4>
                                        <h4 ng-if="Category == 4" style="color:white;  margin-top:-6%;">סוג : {{item.category}}</h4>
                                        <h4 ng-if="Category == 4" style="color:white;  margin-top:-6%;">אורך : {{item.length}}</h4>
                                        <h5  style="color:white;  margin-top:-8%; direction:rtl">{{item.about|cutString_ListPage:true:60}}</h5>
                                        
                                        <div style="position:relative; top:-20px;">
                                        <p style=" color:white;">דירוג 
                                            <span style="position:relative; top:7px;">
                                            <img id="LineStar"'+j+' src="img/pubs/fstar.png" style="width:8%;">
                                            <img id="LineStar"'+j+' src="img/pubs/fstar.png" style="width:8%;">
                                            <img id="LineStar"'+j+' src="img/pubs/fstar.png" style="width:8%;">	
                                            <img id="LineStar"'+j+' src="img/pubs/star.png" style="width:8%;">
                                            <img id="LineStar"'+j+' src="img/pubs/star.png" style="width:8%;">        
                                            <span style="color:white; padding-right:14px; padding-left:14px; padding-top:2px; padding-bottom:2px; border-radius: 25px; margin-right:5px; top:-7px; position:relative; background-color:#000;">5 ק"מ</span></span></p></div></div></div>	
                                            
                                            
                                            <div style="float:left; width:30%;  margin-top:4%; margin-left:-1%;" align="center">
                                                <img ng-if="Category != 4" src="img/pubs/info/{{item.id}}.png" style="width:100%; position:relative">
                                                <img ng-if="Category == 4" src="img/movies/t{{item.id}}.jpg" style="width:100%; position:relative">
                                            </div>		  
                                            <div>
                        
                                            <img ng-if="Category != 4" src="img/menu/line.png" style="width:100%; margin-top:-5%; position:relative">
                                            <img ng-if="Category == 4" src="img/menu/line.png" style="width:100%; margin-top:0%; position:relative">
                                    </div>
                               
                        	</div>
                        <!-- End Row ============================================================================= --> 
                        <div>
				</div>
        
        
        
          </div>
       </div> 
</section>