<ion-view title="התחברות"  >
 
<ion-nav-buttons side="right">
</ion-nav-buttons>

 
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
		 <input type="text" ng-model="loginData.username">

          <span class="input-label">שם משתמש</span>
        </label>
        <label class="item item-input">
		 <input type="password" ng-model="loginData.password">

          <span class="input-label">סיסמה</span>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">התחברות</button>
        </label>
      </div>
    </form>
 </ion-content>
</ion-view>