<ion-view title="סורוקה" hide-back-button="true" hide-nav-bar="true" >
  <ion-content scroll="true" style="margin-bottom:-7px;">
  <!--
  ng-click="openMenu()"
  -->
  	<div style="" >

        	<img src="img/new/head.png" style="width:100%" />
        </div>
       
        <div style=" margin-top:-8px">
        	<table>
            	<tr>
                	<td ng-click='navigateUrlMain("#/app/feedback","")'>
                    	<img src="img/new/nb4.png" style="width:100%" />
                    </td>
					<!--
					ng-click="NavigateBlogMain(4,26)"
					ui-sref="app.catagoryposts({id: 40})"
					-->
                    <td ui-sref="app.catagoryposts({id: 40})"  >
                    	<img src="img/new/nb3.png" style="width:100%" />
                    </td>
                    <td ng-click="openUrl('http://hospitals.clalit.co.il/hospitals/soroka/he-il/Pages/homepage.aspx')">
					
                    	<img src="img/new/nb2.png" style="width:100%" />
					
                    </td>
                    <td ng-click='navigateUrlMain("#/app/about","")'>
                    	<img src="img/new/nb1.png" style="width:100%" />
                    </td>
                </tr>
            </table>
        </div>
		

	<!--
	<div class="marquee">
	  <div>
		<span ng-repeat="item in featuredArticles" ng-click="navigateFeatured(item.cat_id,item.article_id)">
			{{item.title}}
		</span>
	  </div>
	</div>-->

	
	<marquee direction="right" scrollamount="4"  style=" padding:3px; padding-bottom:10px; margin-top:-30px; background-color:#282828; color:white;">
      <span ng-repeat="item in featuredArticles"  ng-click="navigateFeatured(item.cat_id,item.article_id)">
         	 {{item.title}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span> 
	</marquee> 
	

	
        <div style="z-index:100">
		<!--
            <img src="img/new/ghead.png" style="width:100%; margin-top:-7px" />
		-->
            <img src="img/new/map.png" ng-click='navigateUrlMain("#/app/navigation","")' style="width:100%; margin-top:-7px" />


            <img src="img/new/phoneimg.png" ng-click='navigateUrlMain("#/app/contacts","")' style="width:100%; margin-top:-7px" />
            <img src="img/new/phonebanner.png" ng-click='navigateUrlMain("#/app/contacts","")' style="width:100%; margin-top:-7px" />
            

			
			<img src="img/new/img2.jpg" ng-click='NavigateCatPage("#/app/categories",0)' style="width:100%; margin-top:-7px" />
            <img src="img/new/blog1.png" ng-click='NavigateCatPage("#/app/categories",0)' style="width:100%; margin-top:-7px" />
			
			
			<div ng-click="openUrl('https://medivizor.com/start/hebrew/landing1?aff=soroka')" style="z-index:100; position:relative">
             	<img src="img/new/meda.png" style="width:100%; margin-top:-7px; z-index:100" />
            	<img src="img/new/meda1.png"  style="width:100%; margin-top:3px; z-index:100" />
			</div>
			
			
			<img src="img/new/img1.jpg" ng-click='navigateUrlMain("#/app/youtube","")' style="width:100%; margin-top:-7px" />
            <img src="img/new/video1.png" ng-click='navigateUrlMain("#/app/youtube","")' style="width:100%; margin-top:-7px" />
            
			
			<img src="img/new/img3.jpg" ui-sref="app.catagoryposts({id: 35})" style="width:100%; margin-top:-7px" />
            
            
        </div>
		<!--
		ng-click="NavigateBlogMain(1,205)"
		-->
        <img src="img/new/doctor.png"  ui-sref="app.catagoryposts({id: 35})" style="width:100%; margin-top:-7px; z-index:100; position:relative" />
        

        
        <div style="margin-top:-10px; z-index:1; position:relative">
        	<table>
            	<tr>
                	<td ng-click="NavigateBlogMain(4,30)" style=" margin-right:-2px">
                    	<img src="img/new/ft1.png" style="width:102%; margin-right:-2px" />
                    </td>
                   <!-- <td style="margin-left:2px;">
						<a href="https://medivizor.com/start/hebrew/landing1?aff=soroka">
                    	<img src="img/new/ft2.png" style="width:100%" />
						</a>
                    </td>
                     <td ng-click="NavigateBlogMain(4,26)">
                    	<img src="img/new/f3.png" style="width:101%" />
                    </td>-->
                    <td ng-click="openUrl('http://sorokafoundation.com/')">
                    	<img src="img/new/ft2.png" style="width:101%" />
                    </td>
                     <td ng-click="NavigateBlogMain(4,28)" >
                    	<img src="img/new/ft3.png" style="width:100%" />
                    </td>
                </tr>
            </table>
        </div>
        <div ng-click="checkLoggedIn(0)">
            <img src="img/new/emp.png" style="width:100%; margin-top:-7px" />
        </div>
        

  </ion-content>
  
  



</ion-view>
