<ion-view title="הוספת טרמפ">

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content ng-controller="ManageRideCtrl">
   <img src="img/s4.jpg" style="width:100%;" />
   <form name="AddProductForm" ng-submit="saveRide()" role="AddProductForm" novalidate>
   
   <div class="list">
   
  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">תאריך יציאה</span>
    <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"  name="departure_date" id="departure_date" ng-model="fields.departure_date" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.departure_date.$error.required" class="help-block">שדה חובה</span>
  </label>
  
  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">מוצא</span>
    <input type="text" name="address" id="address" ng-model="fields.address" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.address.$error.required" class="help-block">שדה חובה</span>
  </label>
  
  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">יעד</span>
    <input type="text" name="destination" id="destination" ng-model="fields.destination" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.destination.$error.required" class="help-block">שדה חובה</span>
  </label>



	<label class="item item-input itemSelectedQ" style="direction:rtl;" ng-click="pickTime(0)">
		<span class="input-label" style="color:#999">שעת יציאה</span>
	<div   style="height:35px; width:100%;" class="itemSelectedBox2"  >
			<div style="text-align:center !important; width:100%; color:#000;">{{fields.exit_time}}</div>
			<span ng-show="AddProductForm.title.$dirty && AddProductForm.exit_time.$error.required" class="help-block">שדה חובה</span>
	</div>
	</label>


	<label class="item item-input itemSelectedQ" style="direction:rtl;" ng-click="pickTime(1)">
  	<span class="input-label" style="color:#999">שעת חזרה</span>
	<div   style="height:35px; width:100%;" class="itemSelectedBox2"  >
		<div style="text-align:center !important; width:100%; color:#000;">{{fields.return_time}}</div>
			<span ng-show="AddProductForm.title.$dirty && AddProductForm.return_time.$error.required" class="help-block">שדה חובה</span>
	</div>
	</label>							 



  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">כמות מקומות פנויים</span>
    <input type="tel" name="seats" id="seats" ng-model="fields.seats" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.seats.$error.required" class="help-block">שדה חובה</span>
  </label>

  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">שם המסיע/ה</span>
    <input type="text" name="fullname" id="fullname" ng-model="fields.fullname" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.fullname.$error.required" class="help-block">שדה חובה</span>
  </label>

  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">נייד</span>
    <input type="tel" name="phone" id="phone" ng-model="fields.phone" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.phone.$error.required" class="help-block">שדה חובה</span>
  </label>
  
  
 
  <label class="item item-input item-stacked-label" style="direction:rtl; text-align:right; padding-right:10px;">
    <span class="input-label" style="color:#999">הערות</span>
    
    <textarea   style="direction:rtl; width:100%" ng-model="fields.remarks" name="remarks" id="remarks" ></textarea>
	<span ng-show="AddProductForm.remarks.$dirty && AddProductForm.remarks.$error.required" class="help-block">שדה חובה</span>
  </label>
  

  

</div>

	<div class="padding">
		<input type="submit"  ng-show="!showsubmit" ng-disabled="AddProductForm.$invalid" class="button button-block button-balanced" value="שליחה">
	</div>
	  
	 </form>
     
  </ion-content>
</ion-view>
