<ion-side-menus side="left"   width="130"  enable-menu-with-back-views="true">

  <ion-side-menu-content >
    <ion-nav-bar class="bar-dark" align-title="center">
     
      
       <ion-nav-buttons side="right">
      	 <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
	  
      <ion-header-bar class="bar-stable">
      	<h1 class="title">תפריט</h1>
      </ion-header-bar>
     
      <ion-nav-back-button side="right"></ion-nav-back-button>
     
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title" style="text-direction:right;">תפריט</h1>
    </ion-header-bar>
   <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar"  nav-clear menu-close href="" ng-click="MenuClick()">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/logo.jpg"  style="width:60px; margin-top:-10px;" spinner-on-load>
          	</pre-img>
          </div>
          <h2  class="greeting" style="text-align:right; left:15px; position:relative">בית חולים סורוקה</h2>
          <p class="message" style="text-align:right; left:15px; position:relative">ברוכים הבאים</p>
        </ion-item>
		<div ng-if="employee == 0">
		
		<ion-item class="item-icon-right" nav-clear menu-close href="" ng-click="checkLoggedIn(2)"   >
          <img width="58" class="menuimage" height="49" src="img/main/emlopyee.png" alt="">
          <h2 class="menu-text"  >התחברות עובד</h2>
        </ion-item>
		<ion-item class="item-icon-right" nav-clear menu-close href="" ng-click="NavigateBlog(4,31)"   >
          <img width="58" class="menuimage" height="49" src="img/main/pocket.png" alt="">
          <h2 class="menu-text"  >פנקס כיס דיגיטלי</h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close href=""  ng-click="NavigateBlog(4,30)"  >
          <img width="58" class="menuimage" height="49" src="img/sidebar/sideMenuB1.png" alt="">
          <h2 class="menu-text"  style="font-size:12px;">תרומת טרומבוציטים</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="" ng-click="NavigateBlog(4,28)" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/sideMenuB2.png" alt="">
          <h2 class="menu-text">שירות לאומי</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="" ng-click="NavigateBlog(0,0)">
          <img width="58" class="menuimage" height="49" src="img/sidebar/sideMenuB3.png" alt="">
          <h2 class="menu-text" >מרכזי מצוינות</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="https://medivizor.com/start/hebrew/landing1?aff=soroka">
          <img width="58" class="menuimage" height="49" src="img/sidebar/meda.png" alt="">
          <h2 class="menu-text">מידע רפואי אישי</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="" ng-click="NavigateBlog(4,26)">
          <img width="58" class="menuimage" height="49" src="img/sidebar/sideMenuB5.png" alt="">
          <h2 class="menu-text">מרפאת מטיילים</h2>
        </ion-item>
		<!-- iphone -->
		<!--
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/recommended" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/sideMenuB6.png" alt="" >
          <h2 class="menu-text" style="font-size:12px;">אפליקציות מומלצות</h2>
        </ion-item>
		-->
         <ion-item class="item-icon-right" nav-clear menu-close href="http://www.tapper.co.il" >
          <img width="118"  height="49" style="float:right; right:30px; position:relative" src="img/main/tapperwhite.png" alt="" >
          <h2 class="menu-text" style="font-size:12px;"></h2>
        </ion-item>
       
	</div>
	
		<div ng-if="employee == 1">
		
		<ion-item class="item-icon-right" nav-clear menu-close href="#/app/main"  ng-click="logout(1)" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i1.png" alt="">
          <h2 class="menu-text"  >אפליקצית סורוקה</h2>
        </ion-item>

        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.catagoryposts({id: '9'})" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i2.png" alt="">
          <h2 class="menu-text">מחשוב</h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.catagoryposts({id: '11'})"   >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i3.png" alt="">
          <h2 class="menu-text"  >דע את זכויותיך</h2>
        </ion-item>
      
      
        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.catagoryposts({id: '6'})" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i4.png" alt="">
          <h2 class="menu-text">פורום</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/gallery" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i5.png" alt="">
          <h2 class="menu-text">גלריית תמונות</h2>
        </ion-item>

        <ion-item class="item-icon-right" nav-clear menu-close href="http://haotzarsheli.mof.gov.il/Calculators/Pages/Pension-Report-Popup.aspx"   >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i6.png" alt="">
          <h2 class="menu-text"  >אתר האוצר</h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close href="https://play.google.com/store/apps/details?id=Clalit.Clock" >
          <img width="58" class="menuimage" height="49" src="img/sidebar/i7.png" alt="">
          <h2 class="menu-text">שעון נוכחות</h2>
        </ion-item>
		
		</div>
    </ion-list>
    </ion-content>
</ion-side-menus>
