<!--
direction="xy"
background-color:#2a2a2a;
-->

<div class="bar bar-subheader" style="height:250px; " >




<ion-scroll zooming="true"  min-zoom="1" direction="xy" style="width: 100%; height: 100%">
<img src="img/main/sorokamap.jpg" style="width: 100%; height: 100%" >
</ion-scroll>



<div style="overflow:hidden; margin-top:18px;">
    <div class="button-bar" style="width:72%; margin-top:12px; margin-left:20px; float:left">
      <a class="button" ng-click="getData(2)">חיפוש בניין</a>
      <a class="button" ng-click="getData(1)">חיפוש מחלקה</a>
    </div>
    <div ng-click="scanQR()"  style="width:20%;  float:right" align="center" >
		<img src="img/qrscanner.png" style="width:60px; height:60px;">
	</div>
</div>




  	<div class="list" >
  <div class="item-input-inset" style="margin-top:-1px;">
    <label class="item-input-wrapper" style="text-align:right; direction:rtl">
      <input type="text"  ng-model="navigationInput" ng-keydown="BlurNavigation()" style="text-align:right; direction:rtl" placeholder="{{SearchByName}}">
    </label>
    <button class="button button-small">
      חפש
    </button>
  </div>

</div>
</div>
      
<ion-view title="ניווט סורוקה" >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content  class="has-subheader" overflow-scroll="false" style="margin-top:320px;">
 	

    <article style="overflow:hidden">
       
       
       <div ng-repeat="row in navigation | filter:{devision:navigationInput} ">
	   
       		<div  class="articlesContacts"  ng-style="$index==0 ? {'border-top':'none'}:{'border-top':'solid #2f2f2f'}">
               <div class="contactMainDiv">
                    <div class="coBlue"  ng-style="$index%2==0 ? {'background-color':'#377fba'}:{'background-color':'#00ac36'}">
                    </div>
                    <div class="coInfo" ng-click="navigateUrl(row.id,row.building_name_signing)">
					<div ng-show="ShowDevision">
                        <div style="font-size:17px; font-weight:bold">{{row.devision}}</div>
                        <div style="font-size:15px; ">בניין: {{row.building_name}}</div>
					</div>
					<div ng-show="ShowBuildings">
                        <div style="font-size:17px; font-weight:bold">{{row.devision}}</div>
					</div>
					
                    </div>
                    <div class="coIcon" align="center">
					<div ng-click="navigateUrl(row.id,row.building_name_signing)">
                        <div style="width:70%; padding-top:10px;">
                             <img src="img/main/arrow_left2.png" style="width:100%" />
                        </div>
						</div>
                    </div>
                </div>
            </div>
       </div>
       
	
  
    </article>
        
 </ion-content>
</ion-view>