<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
		 <div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl("#/News/-1",whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
        
     	<div class="Content1" id="CouponContent">
 			       
 				<div id="NewsContent" style="width:100%; margin-top:0%;" align="center">
                 	<div align="center">
						<p id ="NewsInfoTitle">{{infoArray[whichItem].title}}</p>
						<div id="GalInfo" style="overflow:hidden">
							<div id="left">
								<img src="img/news/inimage.png" style="width:100%"></img>
							</div>
							<div id="right">
								<img src="img/news/inimage.png"  style="width:100%"></img>
							</div>
						</div>
	
						<p id="NewsBannerInfo_Title">{{infoArray[whichItem].description}}</p>
						<div id=newsView>
						<img src="img/news/icon.png" style="width:7%" />
						<p>1124 אנשים צפו בדף זה</p>
					</div>
				</div>
	
				<table>
                	<tr id="newsbtns">
                    	<td>
                        	<img src="img/news/l1.png" style="width:100%">
                        </td>
                        <td ng-click="AddReplay()">
                        	<img src="img/news/l2.png" style="width:100%">
                        </td>
                        <td>
                        	<img src="img/news/l3.png" style="width:100%">
                        </td>
                     <tr>
                </table>
                      
                <div style="width:100%; overflow:hidden; margin-top:-2%;" ng-controller="ReplayController">
                      	<div  ng-repeat="item in ReplayArray" >
                            <div style="float:left; text-align:right;  width:85%; color:white">
                                 <p> <b>{{item.name}}</b> {{item.date}}  שעה {{item.time}}</p>
                                 <p style="margin-top:-5%;"> <b>{{item.info}}</p>
                            </div>
                            <div style="float:left; margin-top:5.7%; width:10%; margin-left:2%;">
                                 <img src="img/pubs/review.png" style="width:100%">
                            </div>
                         </div>
           		</div>
				
				<table style="margin-bottom:20px;">
                	<tr id="newsbtns">
                    	<td>
                        	<img src="img/news/s1.png" style="width:100%">
                        </td>
                        <td>
                        	<img src="img/news/s2.png" style="width:100%">
                        </td>
                   		<td ng-click='navigateUrl("#/News/-1",whichItem)'>
                        	<img src="img/news/s3.png" style="width:100%">
                        </td>
                    <tr>
               </table>
               
        </div>
</section>      