<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
		 <div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
        
     	<div class="Content1" id="CouponContent">
 			  <!--------------------   Side Bar ------------------>      
                <div style="width:100%; background-color:red;" align="right">     
                	<div  class="sideBar"  onClick="closeBar()">
                    </div>
                </div>
                
                 <header class="Head" data-role="header" data-position="fixed"   style="z-index:2; width:100%; border:none; top:0px;  background-color:#232629;">
                       
                 </header>
                 
                 <div style="margin-top:-7%;">
                     <div style="width:100%;" align="center"><p style="font-size:33px; font-weight:300;">פרופיל אישי</p></div>
                     
                     <div style="width:100%; margin-top:-7%;" align="center">
                                <table style="width:97%; margin-left:1%;">
                                    <tr style="padding:4px;">
                                        <td>
                                            <img src="img/profile/footer3.png" style="width:100%;  margin-top:-2px;" />
                                        </td>
                                        <td>
                                            <img src="img/profile/footer2.png" style="width:100%;" />
                                        </td>
                                        <td>
                                            <img src="img/profile/footer1.png" style="width:100%;" />
                                        </td>
                                    </tr>
                                </table>
                     </div>
                     
                     <div style="width:100%; overflow:hidden">
                    	<div style="width:35%; padding:10px; float:right">
                        	<img src="img/profile/profile_img.jpg" style="width:100%;" />
                        </div>
                        <div style="width:55%; margin-left:3%; margin-top:1%; float:left">
                        	<img id="prof_login" src="img/profile/facbook_login.png" style="width:100%; margin-top:2%;"  onClick="Profile_Login_Click()"/>
                           
                            <input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " placeholder="" value="גילי בניטה" />
                            
                        </div>
                    </div>
                   </div>
                   

                    <div style="width:100%; overflow:hidden; margin-top:0%; direction:rtl" align="center">
                    	<div style="padding:5px; text-align:center; width:100%;" align="center">
                            	<div style="background-image:url(img/profile/bck1.png);" align="center">
                            		<p style="font-size:33px; font-weight:300;">טבלת ניקוד</p>
                                </div>
                            </div>
                            
                    	 <table style="width:100%; margin-top:-10%;" align="center">
                            <tr style="background-image:url(img/profile/bck2.png); font-size:20px;; font-weight:100">
                            	<td style="width:33%; text-align:center">שם</td>
                                <td style="width:33%; text-align:center">שם משפחה</td>
                                <td style="width:33%; text-align:center">נקודות</td>
                            </tr>
                             <tr style="background-image:url(img/profile/bck1.png);  font-size:20px; padding:3px;">
                            	<td style="width:33%; text-align:center">שי</td>
                                <td style="width:33%; text-align:center">לוסקי</td>
                                <td style="width:33%; text-align:center">2290</td>
                            </tr>
                             <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                            	<td style="width:33%; text-align:center">דור</td>
                                <td style="width:33%; text-align:center">ביטון</td>
                                <td style="width:33%; text-align:center">1987</td>
                            </tr>
                            <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                            	<td style="width:33%; text-align:center">גילי</td>
                                <td style="width:33%; text-align:center">בניטה</td>
                                <td style="width:33%; text-align:center">1587</td>
                            </tr>
                             <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                            	<td style="width:33%; text-align:center">שי</td>
                                <td style="width:33%; text-align:center">לוסקי</td>
                                <td style="width:33%; text-align:center">2290</td>
                            </tr>
                             <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                            	<td style="width:33%; text-align:center">דור</td>
                                <td style="width:33%; text-align:center">ביטון</td>
                                <td style="width:33%; text-align:center">1987</td>
                            </tr>
                            
                         </table>
                          <div style="margin:5% 0 5% 0; width:100%" align="center" onClick="goPub();">
                    	<div style="width:25%;" ng-click="navigateUrl('#/Profile/',-1)">
                 			<img src="img/pubs/closel.png"  style="width:100%;">
                        </div>
                 	</div>
                    </div>
        </div>   
</section>      