
<ion-view title="פרטי טרמפ"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content>
   <img src="img/s4.jpg" style="width:100%;" />
      
      
     <div class="list" style="text-align:right; direction:rtl">

        <button class="button button-full" ng-click="smsRide()" style="background-color:#00AC36; color:#fff;">
         שליחת הודעה
        </button>
		
		
        <a class="item" href="#">
   			 שם המסיע/ה: {{RideDetails.name}}
  		</a>
        <a class="item"href="tel:{{RideDetails.phone}}" >
   			 נייד: {{RideDetails.phone}}
  		</a>
        <a class="item" href="#">
   			 מוצא: {{RideDetails.address}}
  		</a>
         <a class="item" href="#">
   			 יעד: {{RideDetails.destination}}
  		</a>
         <a class="item" href="#">
   			 תאריך יציאה: {{RideDetails.departure_date}}
  		</a>
         <a class="item" href="#">
   			 שעת יציאה: {{RideDetails.exit_time}}
  		</a>
         <a class="item" href="#">
   			 שעת חזרה: {{RideDetails.return_time}}
  		</a>

         <a class="item" href="#">
   			 כמות מקומות פנויים: {{RideDetails.seats}}
  		</a>	

         <a class="item" href="#">
   			 הערות: {{RideDetails.remarks}}
  		</a>		
	</div>
            
 </ion-content>
</ion-view>


