<div class="bar bar-subheader" style="background-color:#2a2a2a;" >
  	<div class="list">

  <div class="item-input-inset" style="margin-top:-1px;">
    <label class="item-input-wrapper" style="text-align:right; direction:rtl">
      <input type="text" ng-model="ridesearch" style="text-align:right; direction:rtl" placeholder="חפש טרמפ">
    </label>
    <button class="button button-small">
      חפש
    </button>
  </div>

</div>
</div>

<ion-view title="טרמפים"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content style="margin-top:60px;">
  
	
	<button class="button button-block " style="width:90%; margin-left:5%; background-color:#00AC36; color:#fff;" ui-sref="app.manage_ride">
	 הוספת טרמפ חדש
	</button>	
	

    
    
    <article>
        <div  class="story_ten" ng-repeat="row in RidesArray | filter:ridesearch" align="center">
			<a href="#/app/ride_details/{{$index}}">
            	<div style="background-color:transparent;">
					<img alt="" src="img/tremp.png"  width="100%" height="105px;"/>
				</div>
           		<div>
				<span style="display:block;">{{row.address}} - {{row.destination}}</span>
				<span>{{row.departure_date}}  {{row.exit_time}} </span>
                </div>
			</a>
        </div>
        <div class="story" ></div>
    </article>
	
	
            
 </ion-content>
</ion-view>