<div class="bar bar-subheader" style="background-color:#2a2a2a;" >
  	<div class="list">

  <div class="item-input-inset" style="margin-top:-1px;">
    <label class="item-input-wrapper" style="text-align:right; direction:rtl">
      <input type="text" ng-model="tradingsearch" style="text-align:right; direction:rtl" placeholder="חפש מוצר">
    </label>
    <button class="button button-small">
      חפש
    </button>
  </div>

</div>
</div>

<ion-view title="שוק תן קח"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content style="margin-top:60px;">
  <!--
<header>
        <div ng-click="backBtn()">
        	<img src="img/main/info.jpg" width="100%" alt="" />
        </div>
        <div>בלוג מידע</div>
        <div ><img src="img/main/menu.jpg"  width="100%" alt="" /></div>
    </header>
	
	<div class="search" align="center">
    	<div style="width:80%;  overflow:hidden;">
            <div id="inputSearch">
                <input id="blogInput" ng-model="blogInput" placeholder="חיפוש כתבות" type="text" />
            </div>
            
            <div id="inputSearchImg">
                <img alt="" src="img/main/searchBtn.jpg"  width="100%"/>
            </div>
        </div>
    </div>-->
	
	<button class="button button-block button-positive" style="width:90%; margin-left:5%;" ui-sref="app.addtrade">
	 הוספת מוצר חדש
	</button>	
	

    
    
    <article>
        <div  class="story_ten" ng-repeat="row in sellitems | filter:tradingsearch" align="center">
			<a href="#/app/viewsell/{{row.id}}">
            	<div><img alt="" src="{{imageurl}}/{{row.image}}"  width="100%" height="105px;"/></div>
           		<div>
                		שם מוצר: {{row.title}}<br />
                  		מחיר: {{row.price}}
                </div>
			</a>
        </div>
        <div class="story" ></div>
    </article>
	
	
            
 </ion-content>
</ion-view>