<ion-view title="מידע בקליק"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content overflow-scroll="false">
  <!--
<header>
        <div ng-click="backBtn()">
        	<img src="img/main/info.jpg" width="100%" alt="" />
        </div>
        <div>בלוג מידע</div>
        <div ><img src="img/main/menu.jpg"  width="100%" alt="" /></div>
    </header>

		<div class="search" align="center">
    	<div style="width:80%;  overflow:hidden;">
            <div id="inputSearch">
                <input id="searchInput" type="text" />
            </div>
            
            <div id="inputSearchImg">
                <img alt="" src="img/main/searchBtn.jpg"  width="100%"/>
            </div>
        </div>
    </div>
-->	

	 <article>
      
       <div class="aboutPic" style="margin-left:-20px;  top:0px;">
	   <img alt="" src="{{imageurl}}/{{aboutimage}}" imageonload width="105%"/>
	   </div>
       <div class="line"></div>
       <div class="aboutTitle" imageonload ng-bind-html="newtitle"></div>
      <!-- 
	  <div class="subTit">המרכז הרפואי האוניברסיטאי סורוקה בכללית, הוא בית החולים השני בגודלו בישראל והיחידי בנגב המשתרע על כ־60% מהמדינה </div>
	  -->
       <div class="txt" imageonload ng-bind-html="trustedHtml"></div>
    </article>
           

		   
	
            
 </ion-content>
</ion-view>