<ion-view title="הוספת תמונה">

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content ng-controller="AddGalleryController">
  <!--
   <img src="img/s2.jpg" style="width:100%;" />
  -->
   <form name="AddProductForm" ng-submit="saveGallery()" role="AddProductForm" novalidate>
   
   <div class="list">
  <label class="item item-input" style="direction:rtl;">
  	<span class="input-label" style="color:#999">כותרת</span>
    <input type="text" name="title" id="title" ng-model="title" style="direction:rtl;" required>
	<span ng-show="AddProductForm.title.$dirty && AddProductForm.title.$error.required" class="help-block">שדה חובה</span>
  </label>

  
   <label ng-click="CameraOption()" class="item item-input" style="padding-right:20px; direction:rtl; width:100%;" align="center">
        <img  ng-show="imgURI !== undefined" ng-src="{{imgURI}}" align="center" width="80" height="80">
        <img  ng-show="imgURI === undefined" ng-src="{{uploadedimage}}" align="center" width="80" height="80">
  </label>
  

</div>

	<div class="padding">
		<div  align="center" style="direction:rtl;" ng-show="showsubmit">
			<p>התמונה בהעלאה אנא המתן...</p>
		</div>
				  <input type="submit"  ng-show="!showsubmit" ng-disabled="AddProductForm.$invalid" class="button button-block button-balanced" value="שליחה">
	</div>
	  
	 </form>
     
  </ion-content>
</ion-view>
