<section class="BirthdayPage" style="background-image:url('img/menu/back.jpg'); overflow:hidden">
 		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
       	</div>        
        
     	<div class="Content1" id="BirthdayContent">
             
                 
              <div id=""  style="padding:0px; margin:0px">
              		<p style="color:white; position:absolute; margin-top:5%; font-size:17px; right:20px;">מי חוגג השבוע יום הולדת בארמדילו ?</p>
         			<img src="img/birthday/head.jpg" style="width:100%;">
 			  </div>  
              <div style="overflow:scroll; height:50%;">
                      <div style="overflow:hidden; margin-top:-5%;">
                            <div style="width:65%; padding-right:10px; padding-top:10px; float:left">                    
                                    <p style="color:white;">אמיר שלו חוגג יום הולדת בארמדילו</p>
                                    <p style="color:#ccc; font-size:18px; margin-top:0px;">יום שישי 13.7.14</p>
                            </div>
                            <div style="margin-top:2%; width:29%; margin-top:8%; float:left; position:relative" align="left">
                                    <img src="img/birthday/tm1.jpg"  style="width:90%;">
                            </div>
                      </div>
                      
                      <div style="width:100%; height:1px; margin:8px 0 8px 0; background-color:#666"> </div>
                      
                      <div style="overflow:hidden;">
                            <div style="width:65%; padding-right:10px; margin-top:-10px; float:left">                    
                                    <p style="color:white;">איה חוגגת יום הולדת בארמדילו</p>
                                    <p style="color:#ccc; font-size:18px; margin-top:-9px;">יום שישי 13.7.14</p>
                            </div>
                             <div style="margin-top:2%; width:29%; float:left; position:relative" align="left">
                                    <img src="img/birthday/tm2.jpg"  style="width:90%;">
                            </div>
                      </div>
                      
                      <div style="width:100%; height:1px; margin:8px 0 8px 0; background-color:#666"> </div>
                      
                      <div style="overflow:hidden;">
                            <div style="width:65%; padding-right:10px; margin-top:-10px; float:left">                     
                                    <p style="color:white;">ליזי חוגגת יום הולדת בארמדילו</p>
                                    <p style="color:#ccc; font-size:18px; margin-top:-9px;">יום שישי 13.7.14</p>
                            </div>
                            <div style="margin-top:2%; width:29%; float:left; position:relative" align="left">
                                    <img src="img/birthday/tm3.jpg"  style="width:90%;">
                            </div>
                      </div>
                      
                      <div style="width:100%; height:1px; margin:8px 0 8px 0px; background-color:#666"> </div>
                      
                      <div style="overflow:hidden;">
                            <div style="width:65%; padding-right:10px; margin-top:-20px; float:left">                     
                                    <p style="color:white;">ליזי חוגגת יום הולדת בארמדילו</p>
                                    <p style="color:#ccc; font-size:18px; margin-top:-9px;">יום שישי 13.7.14</p>
                            </div>
                            <div style="margin-top:2%; width:29%; float:left; position:relative" align="left">
                                    <img src="img/birthday/tm4.jpg"  style="width:90%;">
                            </div>
                      </div>
                      
                       <div style="width:100%; height:1px; margin:8px 0 8px 0px; background-color:#666"> </div>
                      
                      <div style="overflow:hidden;">
                            <div style="width:65%; padding-right:10px; margin-top:-20px; float:left">                     
                                    <p style="color:white;">ליזי חוגגת יום הולדת בארמדילו</p>
                                    <p style="color:#ccc; font-size:18px; margin-top:-9px;">יום שישי 13.7.14</p>
                            </div>
                            <div style="margin-top:2%; width:29%; float:left; position:relative" align="left">
                                    <img src="img/birthday/tm4.jpg"  style="width:90%;">
                            </div>
                      </div>
              </div>  
              
              <div  id=""  style="position:fixed; bottom:0px;">
                    <div style="position:fixed; bottom:5%; width:50%; overflow:hidden; left:20px;" align="left">
                    	<table>
                        	<tr>
                            	<td ng-click='navigateUrl("#/Invite/",whichItem)'>
                                	<img src="img/birthday/fill.png"  style="width:100%;">
                                </td>
                                <td  ng-click='navigateUrl("#/Line/",whichItem)'>
                                	<img src="img/birthday/close.png"  style="width:100%;">
                                </td>
                            </tr>
                        </table>
                     </div>
                    <img src="img/birthday/footer.jpg"  style="width:100%;">
 			  </div>     
        </div>   
</section>        