<div class="bar bar-subheader" style=" background-color:#2a2a2a;" >




  	<div class="list">
  <div class="item-input-inset" style="margin-top:-1px;">
    <label class="item-input-wrapper" style="text-align:right; direction:rtl">
      <input type="text"  ng-model="buildingInput" ng-keydown="BlurBuildings()" style="text-align:right; direction:rtl" placeholder="חפש מחלקה">
    </label>
    <button class="button button-small">
      חפש
    </button>
  </div>

</div>
</div>
      
<ion-view title="ניווט לפי בניין" >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content  class="has-subheader" overflow-scroll="false">
 	

    <article style=" overflow:hidden">
       
       
       <div ng-repeat="row in buildings | filter:{devision:buildingInput}">
       		<div  class="articlesContacts"  ng-style="$index==0 ? {'border-top':'none'}:{'border-top':'solid #2f2f2f'}">
               <div class="contactMainDiv">
                    <div class="coBlue"  ng-style="$index%2==0 ? {'background-color':'#377fba'}:{'background-color':'#00ac36'}">
                    </div>
                    <div class="coInfo" ng-click="navigateUrl('#/app/navigation_info/',row.id)">
                        <div style="font-size:17px; font-weight:bold">{{row.devision}}</div>
						<!--
                        <div style="font-size:15px; ">בניין: {{row.building_name}}</div>
						-->
                    </div>
                    <div class="coIcon" align="center">
					<div ng-click="navigateUrl('#/app/navigation_info/',row.id)">
                        <div style="width:70%; padding-top:10px;">
                             <img src="img/main/arrow_left2.png" style="width:100%" />
                        </div>
						</div>
                    </div>
                </div>
            </div>
       </div>
       
	
  
    </article>
        
 </ion-content>
</ion-view>