<section>
	<div ng-model="ginun">
        <h1>{{ginun[whichItem].name}}</h1>
        <h3>{{ginun[whichItem].address}}</h3>
        <h3>{{ginun[whichItem].phone}}</h3>
        <h5>{{ginun[whichItem].homesite}}</h5>
        <a href="#/Details/{{prevItem}}">Prv</a>
    	<a href="#/Details/{{nextItem}}">Next</a>
    </div>
   
    <a href="http://www.gared.co.il/angular">back</a>
</section> 