<section class="InvitePage" ng-controller="InviteController" style="background-image:url('img/menu/back.jpg'); overflow:hidden">
 		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
       	</div>        
        
     	<div id="main" style=" margin-top:20.9%; overflow:hidden; width:100%;" >
              <div>
                 	<img src="img/invite/head.jpg" style="width:100%;" />
              </div>
                        <!---------------------------    Inmpu Text ------------------------------->
                        <div align="center">
                            <div style="width:100%;">
                                <input type="text" placeholder="שם המזמין" name="name" id="invName" value=""   data-theme="a" style="text-align:right; margin-top:3%; width:90%;  font-size:21px; position:relative" />
                                <input type="number" placeholder="כמות מוזמנים" name="name" id="invNumber" value=""  data-theme="a" style="text-align:right; width:90%;   margin-top:3%;  font-size:21px; position:relative" />
                                
                                
                                <input type="email" placeholder="מייל" name="name"  value="" id="invMail"  data-theme="a" style="text-align:right;  margin-top:3%; width:90%;  font-size:21px; position:relative" />
                                <input type="number" placeholder="טלפון להתקשרות" name="name" id="invPhone" value=""   data-theme="a" style="text-align:right; width:90%; margin-top:3%;    font-size:21px; position:relative" />
                                <div data-role="fieldcontain" style="width:100%; padding-top:3%; position:relative">
                                	<textarea cols="20" rows="3" name="textarea" data-theme="a" placeholder="בקשות מיוחדות" id="invDetails" style="text-align:right; width:90%; font-size:21px; position:relative"></textarea>
                                </div>
							
                           		<input type="Date" placeholder="תאריך הגעה" required name="bday"  id="invDate" value=""   style="width:90%;  margin-top:3%; font-size:21px; color:#000; position:relative" />
                            
                            
                            
                            
                            
                            <!------------------------  משקה מועדף   -->
                             
                               
                            <div style="width:100%;">
                            	<div style="width:90%; overflow:hidden; margin-top:3%">
                                    <div style="width:30%; margin-top:3%; float:right">
                                		<label for="select-choice-custom1" class="select" style="color:white;  margin-top:30%; font-weight:bold; font-size:16px; text-align:left; margin-left:8%"><span style="padding-top:30px">מטרת הגעה</span></label>
                                    </div>
                                    <div style="width:70%; margin-top:1%; float:left">
                                        <select name="select-choice-2" id="select-choice-custom1" data-native-menu="false" style="width:100%; font-size:21px;" >
                                            <option value="בילוי">בילוי</option>
                                            <option value="יום הולדת">יום הולדת</option>
                                            <option value="אחר">אחר</option>
                                        </select>
                                    </div>
                                  </div>
                            </div>
                            
                             <div data-role="fieldcontain" class="ui-field-contain" style="width:100%; margin-top:4%">
                            	<div style="width:90%; overflow:hidden">
                                    <div style="width:30%; float:right">
                                		<label for="select-choice-custom2" class="select" style="color:white;  margin-top:4%; font-weight:bold; font-size:16px; text-align:left; margin-left:8%">מקום ישיבה</label>
                                    </div>
                                    
                                    <div style="width:70%; margin-top:1%; float:left">
                                        <select name="select-choice-2" id="select-choice-custom2" data-native-menu="false" style="width:100%; font-size:21px;" >
                                            <option value="שולחן">שולחן </option>
                                            <option value="על הבר">על הבר</option>
                                        </select>
                                    </div>
                                  </div>
                            </div>
                             </div>  
                         </div>
                           
                           
                        </div>
                        
                        <div style="width:100%;  margin-top:5%;" align="center">
                        	<div ng-click='navigateUrl("#/Line/",whichItem)' style="width:30%;  padding-bottom:20%;" onClick = "showPops('ThanksPopUp')">
                            	<img src="img/invite/ok.png" style="width:100%;">
                            </div>
                        </div>
                 </div>   
</section>        