<ion-view title="המומלצים"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content>
  <!--
<header>
        <div ng-click="backBtn()">
        	<img src="img/main/info.jpg" width="100%" alt="" />
        </div>
        <div>בלוג מידע</div>
        <div ><img src="img/main/menu.jpg"  width="100%" alt="" /></div>
    </header>
	-->
	 <article>
       <div class="appsMain" >
            <div class="app" ng-repeat="row in recommended">
			<div ng-click="RecommendedLink(row.android)">
			<img src="{{imagePath}}/{{row.image}}"  width="100%" alt="" />
			<p style="text-align:center">{{row.title}}</p>
			</div>
			</div>
       </div>
    </article>
            
 </ion-content>
</ion-view>