
<ion-view title="פרטי מוצר"  >

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content>
	
     <div  class="storyPic" align="center">
      		 <div><img alt="" src="{{imageurl}}/{{image}}"  width="100%"/></div>
     </div>
      
      
     <div class="list" style="text-align:right; direction:rtl">
        <button class="button button-full button-positive">
         שם המוצר : {{title}}
        </button>

        <a class="item" href="#">
   			 שם המוכר : {{username}}
  		</a>
        <a class="item" href="#">
   			 טלפון : {{phone}}
  		</a>
        <a class="item" href="#">
   			 מחיר : {{price}}
  		</a>
         <a class="item" href="#">
   			 תיאור : {{desc}}
  		</a>
	</div>
            
 </ion-content>
</ion-view>


