<ion-view title="סורוקה בוידאו" style="background-color:white">

<ion-nav-buttons side="right">
</ion-nav-buttons>


  <ion-content style="background-color:white" >
  	<article>
       <div class="storyPic">
			<iframe width="100%" height="215" ng-src="{{MainVideo}}" frameborder="0" allowfullscreen></iframe>	   
       </div>
		
       <div class="articles"  style="margin-top:-7px;" ng-repeat="row in videos" ng-if="row.id !=7">
            <div ng-click="openVideo(row.videolink)" >
                <div class="blueArticle articleLine"  style="padding-bottom:0px;"  style="direction:rtl;">
                    <div class="articleDetails" style="direction:rtl; width:95%;">
                    {{row.title}}
                   </div>
				   
                </div> 
            </div>			
       </div>	

	   <div class="articles">
	   </div>
    
       
   
    </article>
	
	


 </ion-content>
</ion-view>