.marquee {
  height: 25px;
  width: 100%;
  background-color:blue;
  overflow: hidden;
  position: relative;
}

.marquee div {
	
  display: block;
  text-align:left;
  width: 100%;
  height: 30px;
	background-color:red;
  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  background-color:yellow;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: 0%; }
}

